<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% load static %}
    <link rel="stylesheet" href="{% static 'quotelists/quote.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Quotes</title>
</head>

<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <section class="container-fluid">
        <fieldset>
            <legend>
                <a href="/quotes">Home</a> | <a href="/logout">Logout</a>
            </legend>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Posts by {{name}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for quote in all_your_quotes %}
                    <tr>
                        <td>

                            <p>{{forloop.counter}}: <span>{{quote.quote_author}}:</span> "{{ quote.quote }}"</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </section>
</body>

</html>